.product {
  width: 100%;
}

.productContent {
  width: 100%;
  max-width: 1010px;
  display: flex;
}

.productContent img {
  width: 100%;
  max-width: 506px;
  display: block;
  margin-top: 60px;
}

.productDetails {
  margin-top: 100px;
  margin-left: 60px;
}

.productDetails h2 {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 16px;
}

.productDetails p {
  width: 100%;
  max-width: 390px;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 16px;
}

.productDetails h1 {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 40px;
}

.sizeButtonsContainer {
  margin-bottom: 40px;
}

.sizeButton {
  width: 60px;
  height: 36px;
  background-color: #ededed;
  font-size: 18px;
  font-weight: 500;
  color: black;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.sizeButtonActive {
  width: 60px;
  height: 36px;
  background-color: #fe8800;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.cartButton {
  width: 190px;
  height: 52px;
  background-color: black;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  margin-right: 16px;
  cursor: pointer;
}

.favoriteButton {
  width: 230px;
  height: 52px;
  background-color: #fe8800;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.RmFavoriteButton {
  width: 230px;
  height: 52px;
  background-color: #e9533a;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

/* hide/show elements */
.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 1150px) {
  .cartButton,
  .favoriteButton,
  .RmFavoriteButton {
    display: block;
    margin-bottom: 16px;
  }
}

@media (max-width: 980px) {
  .productContent {
    flex-direction: column;
  }

  .productDetails {
    margin-top: 40px;
    margin-left: 0px;
  }

  .cartButton,
  .favoriteButton,
  .RmFavoriteButton {
    display: inline-block;
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .productContent img {
    margin-top: 34px;
  }

  .productDetails h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .productDetails p {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .productDetails h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .sizeButtonsContainer {
    margin-bottom: 30px;
  }

  .cartButton,
  .favoriteButton,
  .RmFavoriteButton {
    display: block;
    font-size: 18px;
    margin-bottom: 16px;
  }
}
