.sideBar {
  width: 100%;
}

.sideBarHeader {
  width: 100%;
  height: 90px;
  background-color: #ebe7e6;
}

.sideBarHeaderContent img {
  width: 40px;
  display: block;
  cursor: pointer;
}

.sideBarHeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sideBarHeaderContent h1 {
  flex: 1;
  font-size: 38px;
  color: black;
  font-weight: 800;
}

.sideBarBoxClosed {
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 200;
  transition-property: all;
  transition-duration: 350ms;
}

.sideBarBoxOpen {
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 200;
  transition-property: all;
  transition-duration: 500ms;
}

.sideBarBoxBackdrop {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(16px);
  z-index: 100;
  cursor: pointer;
}

.sideBarBoxBackdropHidden {
  display: none;
}

.sidebarBoxLogo {
  width: 100%;
  font-size: 28px;
  font-weight: 800;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.navItems {
  width: 100%;
  margin-top: 10px;
}

.navItems ul {
  list-style: none;
  margin-top: 30px;
}

.navItems ul li {
  width: 100%;
  height: 52px;
  margin-bottom: 16px;
}

.navItems ul li a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  line-height: 52px;
  text-align: center;
}

.navItems ul li div {
  width: 140px;
  height: 52px;
  background-color: black;
  margin: 0 auto;
}

.navItems ul li div a {
  color: white;
}

@media (min-width: 900px) {
  .sideBar {
    display: none;
  }
}

/* mobile view */
@media (max-width: 600px) {
  .sideBarHeaderContent h1 {
    font-size: 28px;
  }

  .sideBarHeaderContent img {
    width: 30px;
  }
}
