.sideBar {
  width: 100%;
}

.sideBarHeader {
  width: 100%;
  height: 112px;
  background-color: #ebe7e6;
}

.sideBarHeaderContent img {
  width: fit-content;
  height: fit-content;
  display: block;
}

.sideBarHeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sideBarHeaderContent h1 {
  flex: 1;
  font-size: 28px;
  color: black;
  font-weight: 800;
}

@media (min-width: 800px) {
  .sideBar {
    display: none;
  }
}
